<div class="panel panel-default">
  <div class="panel-heading">
    <!-- <div class="row">
      <span class="title pad-left-right">Contacts</span>
    </div> -->
    <div class="col-xs-6">
      <h1 class="panel-title text-left">Contacts</h1>
    </div>

    <div class="row">
      <div class="col-xs-7">
      <!-- <div class="input-group pull-left pad-left-right col-xs-7"> -->
        <input type="text" class="form-control pull-left pad-left-right" (keyup)="search(searchBox.value)" placeholder="Enter a search value" #searchBox>
        <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
        <button class="btn btn-success pull-right pad-left-right" [routerLink]="['new']" [disabled]="isEditMode()">New Contact</button>
      </div>
    </div>
  </div>
</div>

  <!-- <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h1 class="panel-title text-left">Contacts</h1>
      </div>
      <div class="col-xs-6 text-right">
        <button class="btn btn-success pull-right" (click)="onNewContact()" [disabled]="isEditMode()">New Contact</button>
      </div>
    </div>
  </div> -->

  <!-- <div class="panel-heading">
    <div class="row pad-left-right">
       <span class="pull-left title>Contacts"></span>
       <div class="pull-right">
          <a class="btn btn-success pad-left-right" [routerLink]="['new']">New Contact</a>
       </div>
    </div>
 </div> -->

  <div class="panel-body">
    <div cdkDropList [cdkDropListData]="contacts">
      <!-- Move to the end of the *ngFor directive in the <cms-contact-item> tag and pipe the output of the *ngFor directive into the ContactsFilterPipe. Pass the value of the term property as an input into the pipe. -->
      <div
        cdkDrag
        *ngFor="let contact of contacts | contactsFilter: term"
        [cdkDragData]="contact">
        <cms-contact-item
          [contact]="contact">
        </cms-contact-item>
    </div>
  </div>
</div>
